<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="/styles.css">
    <title>Realtime Polling</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <h1>Vote for your favorite device</h1>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="poll-device">
                            <img src="/images/infinix.jpg" alt="" id="Infinix">
                            <p class="text-center caption">Infinix</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="poll-device">
                            <img src="/images/nokia.jpg" alt=""  id="Nokia">
                            <p class="text-center caption">Nokia</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="poll-device">
                            <img src="/images/samsung.jpg" alt=""  id="Samsung">
                            <p class="text-center caption">Samsung</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="poll-device">
                            <img src="/images/techno.jpg" alt="" id="Techno">
                            <p class="text-center caption">Techno</p>
                        </div>
                    </div>
                </div>
                
                <div id="vote-chart-container"></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>  
    <script src="/vote.js"></script>
</body>
</html>